{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <form class="form-control" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Add Car</button>
        </form>
    </div>
    <div class="row">
        <div class="col-8">
            <h3>Car List</h3><hr>
        </div>
        {% for car in cars %}
            <div class="col-8">
                <div>
                    <span>Car Name: <strong>{{ car.name}}</strong></span>
                    <a href="#">Edit</a>
                    <a href="{% url 'car_delete' id=car.pk %}">Delete</a>
                </div>
                <div>
                    <span>Car Color: <strong>{{ car.color }}</strong></span>
                </div>
                <div class="form-inline">
                    Move car in front of car name:
                    <input type="text" class="form-control ml-2" id="swap_{{ car.pk }}" placeholder="Enter Car Destination">
                    <button class="btn btn-primary ml-2" onclick="doSwap('{{ car.pk }}', '{{ car.sequence }}')">Move</button>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}
